<div class="commit">
    <div class="timeline">
        <div class="icon icon-[[aid]]">
            <div>[[nin]]</div>
            <img src="https://www.gravatar.com/avatar/[[ash]]" alt="">
        </div>
    </div>
    <div class="info">

        <div class="details git">
            <h2>[[vms]]</h2>
            <a href="https://github.com/okian/clickyab-cyrest/commit/[[csh]]">[[csh]]</a>
            <div class="tags">
                [[tags]]
            </div>
            <div class="date">[[time]]</div>
        </div>
        <div class="redmin">
            [[cr]]
        </div>

    </div>
</div>